
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-thumbs-down:before { content: '\e802'; } /* '' */
.icon-tags:before { content: '\e803'; } /* '' */
.icon-warning-empty:before { content: '\e804'; } /* '' */
.icon-credit-card:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-at:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-sun:before { content: '\e80b'; } /* '' */
.icon-logout:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-star-empty:before { content: '\e80f'; } /* '' */
.icon-heart:before { content: '\e810'; } /* '' */
.icon-heart-empty:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */
.icon-lock:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-eye-off:before { content: '\e817'; } /* '' */
.icon-ok:before { content: '\e818'; } /* '' */
.icon-tag:before { content: '\e819'; } /* '' */
.icon-pencil:before { content: '\e81a'; } /* '' */
.icon-cog:before { content: '\e81b'; } /* '' */
.icon-export:before { content: '\e81c'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */
.icon-left-open:before { content: '\e81e'; } /* '' */
.icon-right-open:before { content: '\e81f'; } /* '' */
.icon-up-open:before { content: '\e820'; } /* '' */
.icon-login:before { content: '\e821'; } /* '' */
.icon-dot-3:before { content: '\e822'; } /* '' */
.icon-mobile:before { content: '\e823'; } /* '' */
.icon-tablet:before { content: '\e824'; } /* '' */
.icon-kodkafa:before { content: '\e825'; } /* '' */
.icon-cancel:before { content: '\e826'; } /* '' */
.icon-bell:before { content: '\e827'; } /* '' */
.icon-bookmark:before { content: '\e828'; } /* '' */
.icon-attention:before { content: '\e829'; } /* '' */
.icon-spin:before { content: '\e831'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-bell-off:before { content: '\f1f7'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-user-add:before { content: '\f234'; } /* '' */
.icon-user-drop:before { content: '\f235'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
